<div class="class_div___element-Header"
     id="id_div___element-Header">
    <div class="class_div___element-Header--main">
        <table>
            <tr>
                <th><a href="{% if not homePage %}{{ path('bwch_index') }}{% else %}#{% endif %}"><img src="/images/logo.png" border="0"></a></th>

                <td>
                    <ul class="class___float__left
								class_ul___element-Menu">
                        <li><a href="/our-mission">Our Mission</a></li>
                        <li><a href="/best-plans">Popular Offers</a></li>
                    </ul>
                    <div class="class_div___component
                                class_div___component-InputField
				                class_div___component-InputField-input_type__uniline_text
		                        class___float__left"
                         id="id_div___component-InputField__Header_search">
                        <div>
                            <input type="text" />
                            <tt></tt>
                        </div>
                        <sup><sub>Search</sub></sup>
                    </div>
                </td>
                <td>
                    <div class="class___float__right
								class_div___element-Header--main--login_link"
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                         style="font-size:12px;"><a href="{{ path('bwch_user_my_account') }}">{{ app.user.username }}</a>,
                        <a href="{{ path('bwch_user_logout') }}" style="font-family:HelveticaNeue-Bold;color:#7ec678;text-decoration:underline;">
                                Log out
                        </a>
                    {% else %}
                        ><a href="{{ path('bwch_user_sign_in') }}">Log In</a>
                    {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
