{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Review Web Cloud Hosting Plan or Provider
{% endblock %}

{% block body %}

<div class="class_div___layer
            class_div___layer-Main"
     id="id_div___layer-Main">

    {% include 'header.html.twig' %}

    <div class="class_div___element-Main"
         id="id_div___element-Main"
         style="padding:0;">

        <div class="class_div___element-Main--main">
            <div class="class_div___element-Main--main--columns">
                <div class="class___float__right
								class_div___element-Main--main--columns--column
								class_div___element-Main--main--columns--column__right">

                    {# ======== Reviews section START ======== #}
                    {{ render(controller('BwchContentBundle:Review:recentReviews', {
                    'max': 5,
                    'currentRoute': currentRoute
                    })) }}
                    {# ======== Reviews section END ======== #}

                </div>

                <div class="class_div___element-Main--main--columns--column
								class_div___element-Main--main--columns--column__center">
                    <h1>Review</h1>

                    {% if review|length != 0 %}

                    <div style="width:430px;">
                        <table class="class___width__100 class_table___element-style__1">
                        <tr class="class_tr___element-height__50px">
                            <th><i>Author</i></th>
                            <td>{{ review.author }}</td>
                        </tr>
                        <tr class="class_tr___element-height__50px">
                            <th><i>Provider</i></th>
                            <td>{{ review.provider }}</td>
                        </tr>
                        {% if review.plan is defined %}
                        <tr class="class_tr___element-height__50px">
                            <th><i>Plan (optional)</i></th>
                            <td>{{ review.plan }}</td>
                        </tr>
                        {% endif %}
                        <tr class="class_tr___element-height__40px">
                            <th><b>Overall Rating</b></th>
                            <td>
                                {% set generalRating = review.generalratings|default(0) %}
                                {% set ratingTitle = 'General Ratings' %}
                                {{ include('BwchContentBundle:Review:asterisks.html.twig') }}
                            </td>
                        </tr>
                        {% for ratingTitle in review_ratings %}
                        <tr class="class_tr___element-height__40px">
                            <th><i>{{ ratingTitle }}</i></th>
                            <td>
                                {% set generalRating = attribute(review.ratings, ratingTitle|lower) %}
                                {{ include('BwchContentBundle:Review:asterisks.html.twig') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                    <table class="class_table___element-style__1">
                        <tr>
                            <th style="vertical-align:top;padding-top:10px;"><i>Review</i></th>
                            <td style="padding-top:10px;">{{ review.text }}</td>
                        </tr>
                        {% if review.usedfrom %}
                        <tr>
                            <th><i>Used from</i></th>
                            <td style="height:60px;">
                                <div class="class___float__left class_div___component-SelectionField" style="width:130px;height:16px;padding:5px;border:1px solid #e5e5e5;background:#f7f7f7 url(/images/component/Frame/border__2_0_0_2_image_eaeaea.png) no-repeat;">
                                    {{ review.usedfrom }}
                                </div>
                                <span class="class___float__left" style="padding:0 10px;line-height:26px;font-size:11px;">until</span>
                                <div class="class___float__left class_div___component-SelectionField" style="width:130px;height:16px;padding:5px;border:1px solid #e5e5e5;background:#f7f7f7 url(/images/component/Frame/border__2_0_0_2_image_eaeaea.png) no-repeat;">
                                    {{ review.usedto }}
                                </div>
                                {% if review.stilluseit is defined and review.stilluseit > 0 %}
                                <span class="class___float__left" style="padding:0 10px;line-height:26px;font-size:11px;">Still use it</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>

                    {% else %}
                        Review not found.
                    {% endif %}


                </div>
                <div class="class_div___element-Separator-type__clear_both"></div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}

</div>
{% endblock %}
